################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/E-CCo/FileContentIndex
/MyFlipKart/obj/Debug/net6.0/MyFlipKart.AssemblyInfo.cs
/MyFlipKart/obj/Debug/net6.0/MyFlipKart.AssemblyInfoInputs.cache
/MyFlipKart/obj/Debug/net6.0/MyFlipKart.assets.cache
/MyFlipKart/obj/Debug/net6.0/MyFlipKart.GeneratedMSBuildEditorConfig.editorconfig
/MyFlipKart/obj/Debug/net6.0/rpswa.dswa.cache.json
/MyFlipKart/obj/MyFlipKart.csproj.nuget.dgspec.json
/MyFlipKart/obj/project.assets.json
/MyFlipKart/obj/project.nuget.cache
/.vs/E-CCo
/MyFlipKart/obj/Debug/net6.0/rjsmrazor.dswa.cache.json
/MyFlipKart/bin/Debug/net6.0/MyFlipKart.dll
/MyFlipKart/bin/Debug/net6.0/MyFlipKart.exe
/MyFlipKart/bin/Debug/net6.0/MyFlipKart.pdb
/MyFlipKart/obj/Debug/net6.0/EndpointInfo/MyFlipKart.json
/MyFlipKart/obj/Debug/net6.0/ref/MyFlipKart.dll
/MyFlipKart/obj/Debug/net6.0/refint/MyFlipKart.dll
/MyFlipKart/obj/Debug/net6.0/ApiEndpoints.json
/MyFlipKart/obj/Debug/net6.0/apphost.exe
/MyFlipKart/obj/Debug/net6.0/MyFlipKart.csproj.FileListAbsolute.txt
/MyFlipKart/obj/Debug/net6.0/MyFlipKart.dll
/MyFlipKart/obj/Debug/net6.0/MyFlipKart.genruntimeconfig.cache
/MyFlipKart/obj/Debug/net6.0/MyFlipKart.pdb
/MyFlipKart/obj/Debug/net6.0/MyFlipKart.sourcelink.json
/MyFlipKart/obj/Debug/net6.0/rjsmcshtml.dswa.cache.json
/.vs/ProjectEvaluation
